<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dr-ChartsExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C5DBE65B1D0EEB6A00785337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5DBE6741D0EEB6A00785337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5DBE67F1D0EEB6A00785337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
